parameters:
    level: 5
    paths:
        - app
        - core
    excludePaths:
        - vendor

    # Ignorer certaines erreurs pendant l'apprentissage
    ignoreErrors:
        - '#Property .* is never written, only read#'
        - '#Method .* has parameter .* with no value type specified#'
